@font-face {
    font-family: Aeonik;
    src: url(font/Aeonik-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: Aeonik;
    src: url(font/Aeonik-Regular.otf);
    font-weight: 500;
}
@font-face {
    font-family: "Baloo Da 2";
    src: url(font/BalooDa2-Regular.ttf);
}
body {
    color: #272727;
}


.full-body{
    margin: 5% 0;
    padding: 0;
}

.symbol {
    font-size: 30px;
    text-decoration: none;
} 

#symbol {
    width: 18px !important;
    position: relative;
    bottom:3.5pt;
}
.title {
    font-family: Aeonik;
    font-weight: 700;
    margin-bottom: 56px;
    font-size: 2.6em;

}


.heading-1{

    font-family: Aeonik;
    font-weight: bold;
    font-size: 1.6em;
    margin: 26px 0px;
}
.heading-1 a{
    color: #272727;
}

.sub {
    font-size: 1.3em;
    font-family: Aeonik;
    font-weight: 700;
    margin: 0;
    padding-bottom: 8pt;
    color: #34A0DF;
}

.bn {
    font-family: "Baloo Da 2" !important;
}



.text{
    font-size: 1.2em;
    font-family: Aeonik;
    font-weight: 500;
    margin: 0;
    padding-bottom: 8pt;
   
}